.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: #ffffff;
    /* Cambiar el color de fondo al mismo que los pasos */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #f5f7fa, #e2e8f0);
    margin-left: 1rem; 
}

.formControl,
.inputField {
    margin: 0.25rem 0; 
    width: 100%;
    max-width: 250px;
    background-color: #ffffff;

}

.result {
    margin-top: 1rem;
    padding: 5px; 
    text-align: center;
}

.step {
    /* background-color: #ffffff; */
    margin-top: 0px;
    padding: 5px;
    margin-bottom: 0px;
    border-radius: 5px;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinear todo a la izquierda */
    width: 100%;
    /* Asegurarse de que toma todo el ancho */
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    /* Línea divisoria */
}

.stepHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.step:last-child,
.stepHalf:last-child {
    border-bottom: none;
}

#principal,
#time {
    width: 100%;

}

.step h3 {
    margin-bottom: 0.2rem;
    /* Ajusta este valor según tus preferencias */
}

.step p {
    margin-top: 0.5rem;
    /* Ajusta este valor según tus preferencias */
}

.fullText {
    width: 100%;
    margin: 0.25rem 0; 
    width: 100%;
    max-width: 250px;
    background-color: #ffffff;
}